<!doctype html>
<html>
    <head>

        <title>heart rate</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

    </head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <body>

        <div class="w3-container">
            <img src="static/uploads/kist-logo.png" alt="Logo" class="logo">
            <h1>Organoid Imaging Data Analysis</h1>
            <hr>
        </div>

        <div class="container">
            <div class="w3-bar">
                <button class="w3-bar-item w3-button " onclick="openTabs('Intensity', this)"> Pixel intensity </button>
                <button class="w3-bar-item w3-button " onclick="openTabs('Rate', this)"> Heart rate </button>
            </div>
        </div>


        <form action="/intensity" method="post" enctype="multipart/form-data" class="tab-content active" id="Intensity">

            <div class="row">
                <div class="col">

                    <label for="che_textbox">Chemical solution name: </label>
                    <input type="text" name="che_textbox" placeholder="(eg: Nifedifine)" value="{{ chemical1 }}"><br>

                    <label for="fps">Frames per second: </label>
                    <input type="text" name="fps" placeholder="(eg: 30 fps)" value="{{ fps1 }}"><br>
                    <label for="time1_textbox">Time duration: </label>
                    <input type="text" name="time1_textbox" placeholder="(eg: 30 seconds)" value="{{ time1 }}"><br>
                    <label for="time2_textbox">Pick the range of time: </label>
                    <input type="text" name="time2_textbox" placeholder="(eg: 0-10)" value="{{ times1 }}"><br>


                    <label for="file1">Upload Organoid zip file 1:</label>
                    <input type="file" name="file1" accept=".zip" value="{{ zip11 }}"><br>

                    <label for="file2">Upload Organoid zip file 2:</label>
                    <input type="file" name="file2" accept=".zip" value="{{ zip21 }}"><br>

                    <label for="file3">Upload Organoid zip file 3:</label>
                    <input type="file" name="file3" accept=".zip" value="{{ zip31 }}"><br><br>

                    <div>
                        <input type="submit" name="action" value="Create mean intensity plots" id="submit-intensity" onclick="submitForm('Create mean intensity plots')">
                    </div>

                    <p>{{ zip11 }}</p>
                    <p>{{ zip21 }}</p>
                    <p>{{ zip31 }}</p>
                </div>

                <div class="col">
                    {% if intensity_plots %}
                        <div style="display: flex;  flex-direction: column;">
                            {% for intensity_plot in intensity_plots %}
                                  <div style="margin-left: 10px;">
                                      <img src="{{ intensity_plot }}" alt="Intensity Plot">
                                  </div> <br><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>



        <form action="/rate" method="post" enctype="multipart/form-data" class="tab-content" id="Rate">
            <div class="row" >
                <div class="col">
                    <label for="che_textbox2">Chemical solution name: </label>
                    <input type="text" name="che_textbox" placeholder="(eg: Nifedifine)" value="{{ chemical2 }}"><br>

                    <label for="fps">Frames per second: </label>
                    <input type="text" name="fps" placeholder="(eg: 30 fps)" value="{{ fps2 }}"><br>
                    <label for="time1_textbox">Time duration: </label>
                    <input type="text" name="time1_textbox" placeholder="(eg: 30 seconds)" value="{{ time2 }}"><br>
                    <label for="time2_textbox">Pick the range of time: </label>
                    <input type="text" name="time2_textbox" placeholder="(eg: 0-10)" value="{{ times2 }}"><br>


                    <label for="file1">Upload Organoid zip file 1:</label>
                    <input type="file" name="file1" accept=".zip" value="{{ zip12 }}"><br>

                    <label for="file2">Upload Organoid zip file 2:</label>
                    <input type="file" name="file2" accept=".zip" value="{{ zip22 }}"><br>

                    <label for="file3">Upload Organoid zip file 3:</label>
                    <input type="file" name="file3" accept=".zip" value="{{ zip32 }}"><br><br>

                    <label for="textbox">Concentrations: </label>
                    <input type="text" name="textbox" placeholder="(eg: 0, 100, 500, 1000)" value="{{ concentrations }}"><br><br>

                    <div>
                        <input type="submit" name="action" value="Create heart rate vs concentration plot" id="submit-rate-vs-con" onclick="submitForm('Create heart rate vs concentration plot')">
                    </div>

                    <p>{{ zip12 }}</p>
                    <p>{{ zip22 }}</p>
                    <p>{{ zip32 }}</p>
                </div>

                <div class="col">
                    {% if plot_heartrate %}
                        <img src="{{ plot_heartrate }}" alt="Plot">
                    {% endif %}
                </div>
            </div>

        </form>


        <script src="{{url_for('static', filename='features.js')}}"></script>

    </body>
</html>

